abbrev_defs
*.~
*~
*.elc
*.desktop
*.lock
places
request/
*.*.session
.session
session.*
!session.el
ac-comphist*
ede-projects.el
*conflicted\ copy*
server/
elpa/
elpy/
tutorial/
eshell/
tags/
eln-cache/
url/
snippet/
site-lisp/yasnippet/
auto-save-list/
site-lisp/local/
transient/
.cask/
ido.last
.cache/**
.dap*
.lsp*
.mc-lists.el
tramp