[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/ac-math"]
	path = site-lisp/ac-math
	url = https://github.com/vitoshka/ac-math
[submodule "site-lisp/ESS"]
	path = site-lisp/ESS
	url = git@github.com:emacs-ess/ESS.git
[submodule "site-lisp/math-symbol-lists"]
	path = site-lisp/math-symbol-lists
	url = git@github.com:vspinu/math-symbol-lists.git
