abbrev_defs
*.~
*~
*.elc
*.desktop
*.lock
.session
session.*
!session.el
ac-comphist*
ede-projects.el
*conflicted\ copy*
server/
elpa/
tutorial/
eshell/
tags/
url/
snippet/
site-lisp/yasnippet/
auto-save-list/
site-lisp/local/
.cask/
ido.last
