abbrev_defs
*.~
*~
*.elc
*.eld
oauth2.plstore
*.desktop
*.lock
places
request/
*.*.session
.session
session.*
!session.el
ac-comphist*
ede-projects.el
projectile-frecency.eld
*conflicted\ copy*
server/
elpa/
test/
elpy/
tutorial/
eshell/
tags/
eln-cache/
url/
snippet/
site-lisp/yasnippet/
site-lisp/flycheck-languagetool/
auto-save-list/
site-lisp/local/
transient/
.cask/
ido.last
.cache/**
.dap*
.lsp*
.mc-lists.el
tramp
recentf.eld
