# -*- mode: snippet -*-
# contributor: Feng Li <m@feng.li>
# key: thesis
# group: skeleton
# name: 博士论文评价 ...
# expand-env: ((yas-indent-line nil))
# --

总体评价


一般问题


摘要：


第 1 章：

第 2 章：

第 3 章：

第 4 章：

第 5 章：

第 6 章：